@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.myNav {
    height: 100px;
    background-color: #def6d8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#billede {
    width: 50px;
    margin-left: -50px;
}

#logo {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #91c789;
    font-size: 25px;
}

#creator, #tracker, #report, #Login, #activity, #account {
    font-family: 'Nunito', sans-serif;
    color: #9e9e9e;
    font-size: 17px;
    text-decoration: none;
}

#mealtracker{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    border-style: solid;
    border-radius: 1%;
    border-color: #99d9de;
    margin: 20px;
}

#waterButton{
font-family: 'Nunito', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3c9ee4;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#createTrackedMeal{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #91c789;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

table {
    font-family: 'Nunito', sans-serif;
    width: auto;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    font-family: 'Nunito', sans-serif;
    border: 1px solid #def6d8;
    padding: 8px;
    text-align: center;
}

th {
    font-family: 'Nunito', sans-serif;
    background-color: #def6d8;
}

tr:nth-child(even) {
    font-family: 'Nunito', sans-serif;
    background-color: #def6d8;
}

tr {
    font-family: 'Nunito', sans-serif;
    background-color: #def6d8;
}
.img{
    width: 25px;
}

.flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.grid{
    border: 1px solid #def6d8;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
}

#blue{
background-color: #569bd5;
color: white;


}

#babyBlue{
background-color: #99d9de;
color: white;
}

#orange{
background-color: #FFAB40;
color: white;

}

#red{
background-color: #f29aba;
color: white;

}

#addTrackedMealId table td{
    text-align: start;
}

.pointer {
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    color: #91c789;
    font-size: 20px;
    margin: 10px;
}
